# CONFIG_ESP_TIMER_PROFILING=y
# CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_BT_ENABLED=y
CONFIG_ESP_COEX_ENABLED=y
CONFIG_ESP_NOW=y
# CONFIG_SPI_FLASH_DANGEROUS_WRITE_FAILS=y
# CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
# CONFIG_COMPILER_STACK_CHECK=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y

# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
# CONFIG_FREERTOS_HZ=1000

# not working using `HeapCapsAllocator`,
# but std `raw_c_allocator` or `vPortAllocator` works
# CONFIG_HEAP_TASK_TRACKING=y

# CONFIG_BLINK_LED_STRIP=y
# CONFIG_BLINK_LED_STRIP_BACKEND_SPI=y
# CONFIG_BLINK_GPIO=48